.wrapper {
    padding: 15px;
}
.a {
    height: 400px;
    background-color: darkseagreen;
    border-radius: 20px;
    margin-bottom: 20px;
}
.bc {
    display: flex;
    gap: 20px;
}
.b {
    height: 600px;
    flex: 1 1 70%;
    background-color: cadetblue;
    border-radius: 20px;
}
.c {
    height: 600px;
    flex: 1 1 30%;
    background-color: indianred;
    border-radius: 20px;
}
@media (max-width: 1270px) {
    .bc {
        flex-wrap: wrap;
    }
    .a {
        height: 200px;
    }
    .b {
        flex: 1 1 100%;
    }
    .c {
        flex: 1 1 100%;
        height: 200px;
    }
}